
* {
	margin: 0px;
	padding :0px;
}
body {
	margin : 0px;
	padding : 0px;
}
.custom{
	padding:0px;
}
#App {
	#background {
		position: fixed;
		z-index: -1;
		width:100%;
		height :100%;
		background-color: rgb(255, 255, 255);
	}
	#wrapper{
		//max-width: 960px;
		width: 100%;
		margin : 0 auto;
		#logo{
			width: 100%;
			height: 200px;
			//background-image: url("./asset/logo.svg");
		}
		.container-fluid{
			width: 100%;
			margin:0px;
			padding:0px;
			background-color: white;
			.row{
				
				.space-area{
					background-color: white;
					height: 100%;
				}
				
			}
		}
	}	
}

.InputFrom-wrapper{
	border : 2.5px solid rgb(106, 106, 179);
	border-style: solid;
	border-left: 0px;
	border-right: 0px;
	margin : 15px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: whitesmoke;
	form{	
		.row{
			padding-left: 15px;
			.input-idPw-area{
				input{
					width : 100%;
					margin-bottom: 5px;
					height: 30px;
				}
			}
			.input-text-area{
				input{
					width: 90%;
					height:80px;
				}
			}
			.register-btn-area{
				display: flex;
				justify-content: flex-end;
				padding-top : 10px;
				padding-right: 50px;
				button{
					width: 80px;
					height: 30px;
					border : 0;
					background-color: rgb(106, 106, 179);
					color : white;
				}
			}
		}
	}
}

.Board-wrapper{
	.head-area{
		margin : 0px;
		background-color: whitesmoke;
		height: 40px;
		text-align: center;
		border-top : 2.5px solid rgb(106, 106, 179);
		padding-top: 10px;
		font-weight: 600;
		font-size: 16px;
		.bno{
			text-align: left;
			padding-left: 3%;
		}
	}
}

.Posts-wrapper{
	background-color: white;
	margin:0;
	height: 40px;
	border-top: 1px solid rgb(106, 106, 179);
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	.bno{
		text-align: left;
		padding-left: 4%;
	}
}

.line{
	border-top : 1px solid rgb(106, 106, 179);
}